{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content %}
<style>
  .title {
    text-align: center;
  }
</style>
<h1 class="title">HOME</h1>
<br />
{%for post in object_list %}
<style>
  .post {
    border: solid black 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
  }
</style>
<div class="post">
  <h1><a href="{% url 'blog:post-detail' post.pk %}">{{post.title}}</a></h1>
  <span><strong>by:</strong> {{post.author.username}} / <strong>date:</strong> {{post.date}}</span>
  <br />
  <br />
  <h3>{{post.body}}</h3>
</div>
{% endfor %} {% endblock %}
