{% extends 'base.html' %} {% block title %} {{post.title}} {% endblock %} {% block content %}
<style>
  .buttons {
    display: flex;
  }
  .buttons a {
    margin-right: 2rem;
  }
</style>
<h1>POST DETAIL</h1>
<br />
<div class="post">
  <h1>{{post.title}}</h1>
  <span><strong>by:</strong> {{post.author.username}} / <strong>date:</strong> {{post.date}}</span>
  <br />
  {% if post.image %}
  <br />
  <img src="{{post.image.url}}" />
  <br />
  {% endif %}
  <br />
  <h3>{{post.body}}</h3>
</div>
<br />
<br />
<br />
<div class="buttons">
  <a href="{% url 'blog:home' %}">Back</a>
  <a href="{% url 'blog:update-post' post.id %}"><button type="button" class="btn btn-primary">update post</button></a>
  <a href="{% url 'blog:delete-post' post.id %}"><button type="button" class="btn btn-primary">delete post</button></a>
</div>

{% endblock %}
