{% extends 'registration/base.html' %} {% block content %}
<style>
  h1 {
    text-align: center;
    border: solid black;
  }
  .buttons {
    text-align: center;
  }
  .btn {
    margin-left: 3rem;
  }
</style>
<h1>Registration page</h1>
<br />
<br />
<br />
<form method="post">
  {% csrf_token %}{{form.as_p}}
  <div class="buttons">
    <a href="{% url 'authentication:index' %}">Back</a>
    <button class="btn btn-primary" type="submit">Valider</button>
  </div>
</form>
<br />

{% endblock %}
